{% load markdown_deux_tags %}
{% load comments %}
{% load i18n %}
<span id="ho">
	{% if ip in detail.liked_ip %}
	<l class="liked">Liked</l><a class="icon-ok"></a>
	{% else %}
	<a href="/blog/like/{{detail.id}}/" class="icon-thumbs-up"></a>
	{% endif %}
	<span>{{ detail.like_times }}</span>
	{% if ip in detail.disliked_ip %}
	<l class="liked">Disliked</l><a class="icon-circle"></a>
	{% else %}
	<a href="/blog/dislike/{{detail.id}}/" class="icon-thumbs-down"></a>
	{% endif %}
	</span>
	<div class="list-title"><a href="#">{{ detail.title | slice:"15" }}</a></div>
	<div class="info">
		<i class="icon-eye-open"></i><a href="">{{ detail.view_times }}</a>
		<i class="icon-user"></i><a href="">{{ detail.author }}</a>
		<i class="icon-folder-open-alt"></i><a href="">{{ detail.category }}</a>
		<i class="icon-tag"></i><a href="">{{ detail.tags }}</a>
		<i class="icon-calendar"></i><a href="">{{ detail.create_time }}</a>
	</div>
<div class="content">{{ detail.content |markdown }}</div>
<div class="related_articles">
		{% trans "Related articles:" %}
	{% for item in related_articles %}
	<a href="/blog/detail/{{item.id}}/">{{ item.title }}</a>
	{% endfor %}
</div>

{% get_comment_count for detail as comment_count %}
<p>{{ comment_count }} comments have been posted.</p>
{% render_comment_list for detail %}
{% get_comment_list for detail as comment_list %}
<ul>
{% for comment in comment_list %}
<li>{% trans "Posted by:" %} {{ comment.user_name }} {% trans "on" %} {{ comment.submit_date }}
<BR>
{% trans "Comment:" %} {{ comment.comment }}
</li>
{% endfor %}
</ul>

{% get_comment_form for detail as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>